body{
    background-color:pink; 
}
#Header{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 20px;
    border:solid 5px lightgray;
    text-align: center;
}
#RightNav{
    border:solid 5px black;
    float: left;
    text-align: center;
    width: 200px;
    padding-bottom: 8px;
}
#Content{
    border:dotted 5px black;
    text-align: left;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    padding: 20px;
    background-color:lightblue; 
}
#picture{
    border:dotted 5px black;
    margin-left: 20px;
    margin-right:20px;
    margin-bottom:20px;
    float:right;
}
p#firstParagraph{
    font-size: 12pt;
    font-family: 'Times New Roman', Times, serif;
}
p#secondParagraph{
    font-size: 11pt;
    font-family: Arial, Helvetica, sans-serif
}