div{
    background-color:lightblue;
}

h2{
   text-align: center;
   font-size: 14 xp;
   font-style: bold;
   color: darkblue;
   
}

input{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid orange;
    border-radius: 4px;
    box-align: center;
}
fieldset{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 20px;
    border:dotted 5px black;
    text-align: center;
    text-size-adjust: 12;
}

#form-group {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
}

legend{
    text-align: left;
    font-size: 13;
}

form{
    color:blue;
}

#checkbox{
    border: 10in;
}

select{
    background-color: lightslategray;
}